@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --fuente-logo: "Great Vibes", cursive;
  --fuente-texto: "Poppins", sans-serif;
}

html,
body {
  font-family: var(--fuente-texto);
  margin: 0;
  color: #333;
}

header {
  background: transparent;
  text-align: center;
}

.navbar-brand {
  font-family: var(--fuente-texto);
  font-size: 1.5rem;
  color: #361a14;
}

main {
  padding-top: 62px; /* ajustá según la altura del navbar */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* o el color que prefieras */
  z-index: 1000; /* para que quede encima del contenido */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* sombra opcional */
}

/* Vistas SPA */
.vista {
  display: none;
}
.vista.activa {
  display: block;
}

/* Sección de inicio */
#inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fbf6f1;
  gap: 100px;
  padding: 30px 0px;
  min-height: 100vh;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
}

.inicio-izquierda {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: start;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.inicio-izquierda h2 {
  font-size: 2.3rem;
}

.inicio-derecha img {
  width: 300px;
  border-radius: 50px 0px 50px 0px;
  filter: blur(0.1px);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4); /* sombra pareja en todos los lados */
  object-fit: cover;
}

/* Estilo botón WhatsApp */
.btn-whatsapp {
  display: inline-block;
  background-color: #c67549;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.btn-whatsapp:hover {
  background-color: #994d35;
}

/*Social Icons*/

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.social-icons a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  width: 25px;
  border-radius: 20px;
  background-color: #deb593;
}

/* Tarjetas de plantillas */
.plantilla {
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.plantilla img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  margin-top: 2rem;
}
